In [1]:
# a Jupyter notebook to investigate the data before creating import script
import pandas as pd
import numpy as np
import json as json
from sqlalchemy import create_engine
from mysecrets import user, password

engine = create_engine(f'postgresql://{user}:{password}@localhost:5432/book_recs')

In [40]:
meaningful_tags = pd.read_sql(
    '''
    SELECT 
        TAG_NAME,
        COUNT(*) AS NUM_WORK
        --CAST(TAG_COUNT AS FLOAT) / WORK_TOTAL_COUNT AS PERC1,
        --CAST(TAG_COUNT AS FLOAT) / TAG_TOTAL_COUNT AS PERC2
    FROM BUILD_TAGS
    WHERE TAG_NUM_WORK > 1
    --AND CAST(TAG_COUNT AS FLOAT) / WORK_TOTAL_COUNT > 0.001
    AND CAST(TAG_COUNT AS FLOAT) / TAG_TOTAL_COUNT > 0.001
    GROUP BY TAG_NAME
    ORDER BY NUM_WORK DESC;
    ''',
    engine)

meaningful_tags = meaningful_tags.loc[~meaningful_tags['tag_name'].str.contains('READ')]

In [17]:
check = pd.read_sql(
    '''
    WITH A AS (
        SELECT WORK_ID
        FROM GOODREADS_BOOKS
        GROUP BY WORK_ID
        HAVING SUM(RATINGS_COUNT) > 500
    )
    SELECT DISTINCT 
        WORK_ID,
        NAME,
        COUNT
    FROM TAGS B
    INNER JOIN A
    USING(WORK_ID)
    ''',
    engine
)

In [4]:
tag = pd.read_sql(
    '''
    SELECT *
    FROM TAGS
    WHERE WORK_ID = 10050005
    ''',
    engine
)